<h1>Booking Confirmation</h1>
<p>Hello <%= @user.name %>,</p>
<p>Thank you for your booking!</p>
<p>Event: <%= @booking.ticket_type.event.name %></p>
<p>Quantity: <%= @booking.quantity %> ticket(s)</p>
<p>We look forward to seeing you at the event!</p>
